@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    outline: none;
}

/* Smooth scroll */
html{
    scroll-behavior: smooth;
}


.container{
    max-width: 1300px;
    padding: 0px 2rem;
    margin: auto;
    z-index: 10;
}
.text-secondary{
    color: rgb(220, 159, 220);
}

.text-center{
    text-align: center;
}
.m-heading{
    font-size: 32px;
    margin-bottom: 12px;
}

/*============================== Hamburger region ==================================*/

.hamburger{
    color: #dadde1;
    cursor: pointer;
    display: hidden;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

@media(max-width: 768px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0; 
        flex-direction: column;
        background-color: none;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
}


.nav-menu.active{
    left: 0;
}

.hamburger:hover{
    background:rgb(220, 159, 220);
}

.list{
    margin: 16px 0;
    list-style: none;
}

.list li{
    padding: 8px 0;
}

.list li span{
    padding-left: 50px;
}

/*=================================== Hamburger regionend ==============================*/

.btn-md{
    display:inline-block;
    background:rgb(220, 159, 220);
    color: gray;
    font-size: 25px;
    font-weight: bold;
    padding: 8px 36px;
    margin-top: 20px;
    border-radius: 50px;
    border: 2px solid coral;
    transition: all 0.3s ease;
}
.btn-md:hover{
    color: black;
    background: none;
}

.title::before{
    content: '';
    background: #07080B;
    height: 2px;
    width: 200px;
    margin: 0 auto;
    display: block;
    transform: translateY(44px);
}

.title::after{
    content: '';
    background: #07080B;
    height: 7px;
    width: 65px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(-8px);
}
/* =============== Showcase Background ============ */
.showcase{
    background-image: url('./images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
/* ================================= Navbar Section ===========================*/
.navbar{
    position: fixed;
    width: 100%;
    margin: auto;
    padding: 35px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}
.navbar.sticky{
    padding: 10px 100px;
    background: rgb(237,153,169);
    
}
.navbar .logo{
    color:rgb(115, 50, 100);
    font-size: 30px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    font-size: 13px;
    text-transform: uppercase;
}

.navbar ul li span{
    color: rgb(107, 65, 102);
    border-left: 1px solid rgb(115, 50, 100);
    padding-left: 25px;
    padding-right: 5px;
    text-align: center;
}
.navbar ul li a{
    color: rgb(160, 59, 160);
    font-weight: bold;
    transition: all 0.5s ease;
}

.navbar ul li a:hover{
    color: black;
}

/* =============================== Showcase Content section =========================*/
.showcase-text{
    max-width: 800px;
    padding-top: 250px;
    padding-left: 120px;
    color: black;
}
 .showcase-text .text-1{
    font-size: 27px;
}
.showcase-text .text-2{
    font-size: 75px;
    font-weight: 700;
}
.showcase-text .text-3{
    font-size: 40px;
    margin: 5px 0;
    font-weight: 700;
}
/* ================================Cycling navbar text ================================= */
.showcase-text .text-3 span{
    color: rgb(100, 33, 100);
}
.showcase-img img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 500px;
    height: 100%;
    object-fit: cover;
    opacity: 0.1;
    overflow: hidden;
}



/* =================================About Me Section Styling =================================*/

#about{
    background-image: url("images/photo4subtract.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 130vh;
}

.about .title::before{
    background: rgb(160, 59, 160);
}
.about .title::after{
    background: rgb(160, 59, 160);
}

.about h1{
    color: lightgray;
    text-align: center;
    font-size: 80px;
    transform: translateY(20px);
    opacity: 0.1;
    padding-top: -20px;
}

.about h5{
    font-weight: 700;
    transform: translateY(-65px);
}

.about .about-content .column{
    margin-top: 40px;
}
.about .about-content,
.services .service-content,
.skills .skill-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-60px);
}

.about .about-content .left{
    width: 55%;
    padding: 0 20px;
    overflow: hidden;
    display: flex; 
}
.about .about-content .left img{
    height: auto;
    max-width: 20rem;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}

.about .about-content .right{
    width: 45%;
    font-weight: 400;
    color: rgba(245, 245, 245, 0.874);
}

.about .about-content .right .text{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}
.about .about-content .right p{
    text-align: left;
}
.about .about-content .right .text span{
    color: rgb(160, 59, 160);
}
.about .about-content .right .table{
    max-width: 500px;
    padding: 10px 0;
    margin-left: 0px;
}
.about .about-content .right .table td{
    padding: 10px;
}

/* ==================== Services Section Styling ============================================ */

#services{
    color: black;
    background: black; 
    /* background-image: url("images/pinkpeonies.png"); */
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 90;
}

.services h5{
    font-weight: 700;
    color: rgb(220, 159, 220); 
    transform: translateY(-65px);
}

.services h1{
    color: rgb(220, 159, 220); 
    text-align: center;
    font-size: 80px;
    transform: translateY(23px);
    opacity: 0.2;
    padding-top: -20px;
}

.services .title::before{
    background: rgb(160, 59, 160);
}
.services .title::after{
    background: rgb(160, 59, 160);
}

.services .service-content .main{
    width: calc(30% - 20px);
    min-height: 550px;
    text-align: center;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}
.service{
    background: white;
    padding: 30px;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    transform: scale(1.05);
    box-shadow: 0 0 20px -15px white;
    transition: transform 0.8s;
}
/* circle around 3-blocks */
.service-logo{    
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: -90px auto 0;
    background: whitesmoke;
    border: 18px solid rgb(160, 59, 160); 
    transform: transform 1s;
}
.service-logo i{
    color: rgb(160, 59, 160); 
    width: 50px;
    margin-top: 20px;
}

.service h4{
    height: 28px;
    width: 80%;
    background: white; 
    margin: 60px auto;
    position: relative;
}
.service h4::after{
    content: '';
    width: 40px;
    height: 30px;
    background: linear-gradient(to right, white, lightgray);
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: -1;
}
.service h4::before{
    content: '';
    width: 40px;
    height: 30px;
    background: linear-gradient(to right, lightgray , white);
    position: absolute;
    left: -5px;
    bottom: -5px;
    z-index: -1;
}
.shadowone{
    height: 200px;
    width: 80%;
    background: white;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 10%;
    z-index: -1;
    box-shadow: 0 0 20px -15px white; 
    transition: transform 0.8s;
}
.shadowtwo{
    height: 200px;
    width: 64%;
    background: white; 
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 18%;
    z-index: -2;
}

.main:hover .service{
    transform: translateY(-50px);
}
.main:hover .shadowone{
    transform: translateY(-25px);
}

/* ================My Skills Section ======================*/

#skills{
    background: black; 
    color: whitesmoke;
    background-image: url("images/stars.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 90;
}

.skills h1{
    color: lightgray; 
    text-align: center;
    font-size: 80px;
    transform: translateY(20px);
    opacity: 0.15;
    padding-top: -20px;
}
.skills h5{
    font-weight: 700;
    transform: translateY(-65px);
}
.skills .title::before{
    background: rgb(160, 59, 160);
}
.skills .title::after{
    background: rgb(160, 59, 160);
}

.skills .skill-content .column{
    margin-top: 40px;
    width: calc(50% - 50px);
}

.skills .skill-content .left .text{
    font-size: 30px;
    font-weight: 700;
    padding: 10px 0;
    margin-bottom: 10px;
    color: rgb(100, 33, 100);
    display: flex;
}
.skills .skill-content .left p{
    color: gray;
    text-align: left;
    line-height: 1.4;
    padding-top: 15px;
    font-size: 17px;
}
.skills .skill-content .left a{
    display: inline-block;
    background: rgb(220, 159, 220);
    color: gray; 
    font-size: 20px;
    font-weight: 700;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid coral;
    transition: all 0.3s ease;
}
.skills .skill-content .left a:hover{
    color: white; 
    background: none;
}

.skills .skill-content .right .text{
    font-size: 30px;
    font-weight: 700;
    padding: 10px 0;
    margin-bottom: 10px;
    color: rgb(100, 33, 100);
}

.skills .skill-content .right .bars{
    margin-bottom: 20px;
}
.skills .skill-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
    color: #A9ADB8;
}
.skills .skill-content .right span{
    font-weight: 500;
    font-size: 18px;
}

/*******************************************REMOVED BARS SHOWING PERCENTAGE**************************/
/* .skills .skill-content .right .line{
    height: 2px;
    width: 100%;
    background: lightpink;
    position: relative;
} */
/* 
.skills .skill-content .right .line::before{
    content: '';
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: lightpink;
} */

/* .skills .skill-content .right .ps::before{
    width: 100%;
}
.skills .skill-content .right .mg::before{
    width: 100%;
}
.skills .skill-content .right .axd::before{
    width: 100%;
}
.skills .skill-content .right .uxd::before{
    width: 100%;
}
.skills .skill-content .right .html::before{
    width: 100%;
}
.skills .skill-content .right .dm::before{
    width: 100%;
} */

/*========================== Projects section styling  */

#projects{
    color: lightgray;
    background: lightgray;
    background-image: url("images/shootingstar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 90;
}

.projects .title::before{
    background: rgb(160, 59, 160);
}
.projects .title::after{
    background: rgb(160, 59, 160);
}
.projects h5{
    font-weight: 700;
    color: rgb(220, 159, 220);
    transform: translateY(-65px);
}

.projects h1{
    color: lightgray;
    text-align: center;
    font-size: 80px;
    transform: translateY(23px);
    opacity: 0.2;
    padding-top: -20px;
}

.projects .carousel .card{
    background: rgb(39, 39, 39);
    border-radius: 5px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}

.projects .carousel .card:hover{
    background: rgb(255, 211, 215);
    color: black;
}
.projects .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.3s ease;
}

.projects .carousel .card:hover .box{
    transform: scale(1.05);
}
.projects .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.projects .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid fuchsia; 
    transition: all 0.3s ease;
}
.projects .carousel .card:hover img{
    border-color: black;
}

.owl-dots {
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    background: #07080B !important;
    outline: none !important;
    border-radius: 50%;
    border: 2px solid #07080B;
    transition: all 0.3s ease;
}


/*=============== Contact Me Section ================== */


/* #contact{
    color: lightgray;
    background: black;
    background-image: url("images/butterflyfloral.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 90;
} */
section{
    padding: 40px 0;
    background: #07080B;
}

.contact h1{
    color: lightgray;
    text-align: center;
    font-size: 80px;
    transform: translateY(20px);
    opacity: 0.15;
    padding-top: -20px;
}
.contact h5{
    font-weight: 700;
    transform: translateY(-65px);
}
.contact .title::before{
    background: rgb(160, 59, 160);
}
.contact .title::after{
    background: rgb(160, 59, 160);
}
.contact .contact-content .column{
    margin-top: 40px;
    width: calc(50% - 50px);
}
.contact .contact-content .left h2{
    font-size: 30px;
    margin-bottom: 30px;
    color: #A9ADB8;
}
.contact .contact-content .left .form-group input{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #A9ADB8;
    background: #fff;
    border-radius: 5px;
}
.contact .contact-content .left .form-group textarea{
    width: 100%;
    background: #fff;
    padding: 10px;
    height: 150px;
    margin-top: 20px;
    border-radius: 5px;
}

.contact .contact-content .left .btn-md{
    padding: 8px 18px;
    font-size: 16px;
    display: inline-block;
    background: rgb(220, 159, 220);
    color: gray; 
    font-size: 18px;
    font-weight: 700;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid coral;
    transition: all 0.3s ease;
}
.contact .contact-content .left .btn-md:hover{
    color: white; 
    background: none; 
}

.contact .contact-content .right{
    color: #A9ADB8;
}
.contact .contact-content .right h2{
    font-size: 30px;
    margin-bottom: 15px;
}
.contact .contact-content .right p{
    line-height: 1.6;
}
.contact .contact-content .right .items{
    margin: 10px 0;
}
.contact .contact-content .right .items .item{
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.contact .contact-content .right .items .item i{
    padding: 16px;
    border: 1px solid #A9ADB8;
    border-radius: 50%;
    margin-right: 20px;
}
.contact .contact-content .right .items .item span{
    font-size: 14px;
}
.contact .contact-content .right .links{
    overflow: hidden;
    padding: 10px 0;
}
.contact .contact-content .right .links li{
    display: inline-block;
    list-style: none;
    padding-right: 15px;
}
.contact .contact-content .right .links li a{
    color: #A9ADB8;
    text-decoration: none;
    transition: all 0.3s ease;
}
.contact .contact-content .right .links li a:hover{
    color: rgb(255, 180, 180);
}
.contact-img img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1500px;
    height: 100%;
    object-fit: cover;
    opacity: 0.1;
    overflow: hidden;
}

#footer{
    text-align: center;
    background: rgb(255, 180, 180);
    padding: 30px 0;
    color: #07080B;
    font-weight: 700;
}


/* Scroll up styling */
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    border: 1px solid #fff;
    background: #07080B;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: lightpink;
    z-index: 999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    
}

.scroll-up-btn.show{
    opacity: 1;
    pointer-events: auto;
    bottom: 30px;
}


@media screen and (max-width: 1100px) {
    .about-content{
        flex-direction: column;
    }
    
    /* #services{
        display: none;
    } */
    
}

@media screen and (min-width: 601px) and (max-width: 1100px) {
    .about-content{
        flex-direction: column;
    }
    .skill-content{
        flex-direction: column;
    }
    #about{
        width: auto;
        height: auto;
        flex-direction: column;
    }
    /* .nav-menu{
        display: none;
    } */

}

@media screen and (min-width: 641px) and (max-width: 962px) {
    .navbar .logo{
        flex-direction: row;
        width: auto;
        height: auto;
        font-size:100%;
    }
    /* .nav-menu{
        display: none;
    } */
    .about-content{
        flex-direction: column;
    }
    .skill-content{
        flex-direction: column;
    }
    #about{
        width: auto;
        height: auto;
        flex-direction: column;
    }

}

@media screen and (min-width: 360px) and (max-width: 538px) {
    .about .about-content .right .text{
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
    }

}

@media screen and (min-width: 360px) and (max-width: 640px) {
    .navbar .logo{
        flex-direction: row;
        width: auto;
        height: auto;
        font-size: 100%;
    }
    .showcase-text{
        padding-top: 200px;
        padding-left: 70px;
    }
    .showcase-text .text-2{
        font-size: 60px;
        font-weight: 700;
    }
    .showcase-text .text-3{
        font-size: 25px;
        font-weight: 700;
    }
    .btn-md{
        font-size: medium;
    }
    .skill-content{
        flex-direction: column;
    }
    #about{
        width: auto;
        height: auto;
        flex-direction: column;
    }
    .about-content{
        flex-direction: column;
        font-size: 100%;
    }
    .about .about-content .right{
        flex-direction: column;
        width: auto;
        height: auto;
    }
    /* .nav-menu{
        display: none;
    } */
    .contact .contact-content{
        flex-direction: column;
    }
    .contact .contact-content .column{
        width: 90%;
    }
    .contact-content .column.left{
        flex-direction: column;
    }
    .contact-content .column.right{
        flex-direction: column;
        width: auto;
        height: auto;
    }
    .skill-content .column.right{
        flex-direction: column;
        width: auto;
        height: auto;
    }
    .skill-content .column.left{
        flex-direction: column;
        width: auto;
        height: auto;
    }
    *{
        overflow-x:auto;
    }


    .services .service-content .main{
        width: 100%;
        height: auto;
        text-align: center;
        border-radius: 5px;
        position: relative;
        cursor: pointer;
        flex-direction: column;
    }
    .service{
        background: white;
        padding: 20px;
        border-radius: 10px;
        position: absolute;
        bottom: 0;
        z-index: 1;
        transform: scale(1.0);
        box-shadow: 0 0 20px -15px white;
        transition: transform 0.8s;
        text-align: center;
        flex-direction: column;
    }
    .service-logo{
        max-width: 130px;
        height: 130px;
        border-radius: 50%;
        margin: 0px auto 0;
        background: white;
        border: 18px solid rgb(160, 59, 160); 
        transform: transform 1s;
        flex-direction: column;
    }
    .service-logo i{
        color: rgb(160, 59, 160); 
        max-width: 50px;
        margin-top: 20px;
        flex-direction: column;
    }
    .service h4::after{
        display: none;
        /* content: '';
        max-width: 40px;
        height: 30px;
        background: linear-gradient(to right, white, lightgray);
        position: absolute;
        right: -5px;
        top: -5px;
        z-index: -1;
        flex-direction: column; */
    }
    .service h4::before{
        content: '';
        max-width: 40px;
        height: 30px;
        background: linear-gradient(to right, white, lightgray);
        position: absolute;
        right: -5px;
        top: -5px;
        z-index: -1;
        flex-direction: column;
    }
    .service h4{
        height: 28px;
        width: 80%;
        background: white; 
        margin: 60px auto;
        position: relative;
        flex-direction: column;
    }
}







































